.idea/
config1.conf
config2.conf
log/
binlog/
main/main
config.conf
flyfishd
config.toml
*.o
*.so
*.lib
*.dylib

app/webTool/conf/conf.toml
cluster1.sh
cluster2.sh
cluster3.sh
config1.toml
config2.toml
config3.toml
etcd_raft.txt
log1/
coverage.out
test_dbconf.toml
flyfish.code-workspace
raftLog/
testRaftLog/