.idea/
config1.conf
config2.conf
log/
binlog/
main/main
config.conf
flyfishd
config.toml
*.o
*.so
*.lib
*.dylib

app/webTool/conf/conf.toml
cluster1.sh
cluster2.sh
cluster3.sh
config1.toml
config2.toml
config3.toml
etcd_raft.txt
log1/
coverage.out
test_dbconf.toml
flyfish.code-workspace
raftLog/
testRaftLog/
server/app/test/startgate.sh
server/app/test/startkv.sh
server/app/test/startpd.sh
test.go

server/app/test/flygate_config.toml
server/app/test/flykv_config.toml
server/app/test/flypd_config.toml

server/app/.amp/
server/app/deployment.json
server/app/flygate
server/app/flykv
server/app/flypd
server/app/meta.json