.idea/
config1.conf
config2.conf
log/
binlog/
main/main
config.conf
flyfishd
config.toml
*.o
*.so
*.lib
*.dylib

app/webTool/conf/conf.toml
kv-1-1
kv-1-1-snap
kv-2-1
kv-3-1
kv-2-1-snap
kv-3-1-snap
kv-4-1
kv-4-1-snap
cluster1.sh
cluster2.sh
cluster3.sh
config1.toml
config2.toml
config3.toml
etcd_raft.txt
kvserver
log1/
coverage.out
test_dbconf.toml