PdService="ip:port;ip:port" #pd服务以；分割

[ReqLimit]
SoftLimit               = 50000
HardLimit               = 100000
SoftLimitSeconds        = 10

[Log]
MaxLogfileSize  = 104857600 # 100mb
LogDir          = "log"
LogLevel        = "info"
LogPrefix       = "flygate"
EnableStdout = false
MaxAge          = 14   #最大保留14天的日志
MaxBackups      = 10   #最多保留10个滚动日志	 
